{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load jsonify %}


{% block subtitle %}
    Biodiversity Threats in Rwanda
{% endblock %}

{% block head %}
    <link href="{% static "rbis/biodiversity_assessments.css" %}" rel="stylesheet">
{% endblock %}

s


{% block body_content %}
<div class="biodiversity-assessment-details">
    <h1>
        <a href="{{biodiversity_assessment.main_doc_link}}" target="_blank">{{biodiversity_assessment.title}}</a>
    </h1>


    <div class="biodiversity-assessment-details-content">
        {{ biodiversity_assessment.content_title|safe }}
    </div>
</div>
{% endblock %}