{% extends 'main_base.html' %}
{% load static from staticfiles %}
{% load jsonify %}

{% block subtitle %}
    Home
{% endblock %}

{% block head %}

    <!-- Custom styles for this template -->
    <link href="{% static "css/landing_page.css" %}" rel="stylesheet">
    <link href="{% static "rbis/home.css" %}" rel="stylesheet">
    <script type="text/javascript">
        const summaries = '{{ summaries|jsonify|safe }}';
        const showModuleSummaries = {% if preferences.SiteSetting.show_module_summary_on_dashboard %}true{% else %}false{% endif %};
    </script>
    <script src="{% static "js/libs/jquery/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "js/libs/bootstrap-4.0.0/js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/libs/chart/Chart-2.7.2.js" %}"></script>

{% endblock %}




{% block body_content %}
    <div class="rbis-home">
        <h1>Tracking Change in Rwanda's Biodiversity</h1>
        <p>RBIS | Rwanda Biodiversity Information System</p>
        <div class="rbis-home-links">
            <ul>
                <li>
                    <a class="nav-link" href="/accounts/login/">Login</a>
                </li>
                <li>
                    <a class="nav-link" href="/accounts/signup/">Sign Up</a>
                </li>
                <li>
                    <a class="nav-link" href="/map">Explore</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="rbis-occurrence-records">
        <h1>Biodiversity Records</h1>
        {% include 'landing_page_dashboard.html' %}
        <a href="/map"><i class="fa fa-map-o"></i> &nbsp;Explore Map »</a>
    </div>


    <div class="rbis-status">
        <div class="rbis-status-card">
            <img src="{% static 'new_images/occurrences-icon.d2d9d02a9220.png' %}" alt="Taxa Icon"/>
            <h2 id="totalOccurenceNumber">0</h2>
            <p>Occurrence Records</p>
        </div>

        <div class="rbis-status-card">
            <img src="{% static 'new_images/taxa-icon.70ae121e6b3f.png' %}" alt="Taxa Icon"/>
            <h2 id="totalTaxaNumber">0</h2>
            <p>Taxa</p>
        </div>


        <div class="rbis-status-card">
            <img src="{% static 'new_images/users-icon.0a0914af9401.png' %}" alt="Taxa Icon"/>
            <h2 id="totalUsersNumber">0</h2>
            <p>Users</p>
        </div>


        <div class="rbis-status-card">
            <img src="{% static 'new_images/upload-icon.6f5b1f58b5ea.png' %}" alt="Taxa Icon"/>
            <h2 id="totalUploadsNumber">0</h2>
            <p>User uploads</p>
        </div>


        <div class="rbis-status-card">
            <img src="{% static 'new_images/download-icon.a258f8b4a58f.png' %}" alt="Taxa Icon"/>
            <h2 id="totalDownloads">0</h2>
            <p>User downloads</p>
        </div>
       
    </div>

    <div class="rbis-whatis">
        <img src="{% static 'new_images/fbis2.png' %}" alt="Taxa Icon"/>
        <div class="rbis-whatis-text">
            <h1>What is RBIS?</h1>
            <p>The RBIS is a powerful, visual, data-rich information system for hosting and serving biodiversity data in Rwanda. It serves as a platform for the inventory and maintenance of data, thereby facilitating the evaluation of long-term change in biodiversity and ecosystem condition, and guiding future monitoring strategies and management decisions.</p>
           
        </div>  
    </div>

    {% if custom_theme.partners.all %}
    <div class="grid-logos">
        <div class="container">
            <div class="row">
                 <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">{{ preferences.SiteSetting.landing_page_partners_title }}</h2>
                </div>
                <div class="partner-container">
                    <div class="flex-container">
                        {% for partner in custom_theme.partners.all %}
                            <div class="flex-item">
                                <a href="{{ partner.link }}" target="_blank">
                                    <img src="{{ partner.logo.url }}" alt="1" class="img-responsive" data-toggle="tooltip" data-placement="bottom" title="{{ partner.name }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    



    <div id="section-wrapper">
        <div id="header-wrapper">
            

            {% if custom_theme.is_footer_enabled %}
                <footer>
                <div class="section-1-padding footer-bg bgimage-property ">
                    <div class="container">
                        <div class="row rowsafari">
                            <div class="col-sm-6 col-md-4 col-lg-4 res2-bot-pad res1-bot-pad count-res" style="text-align: center; margin-bottom: 25px;">
                                 {% if custom_theme.logo %}
                                     <img src="{{ custom_theme.logo.url }}" style="max-width: 100%; width: 120px"/>
                                 {% endif %}
                                <div style="margin-top: 20px;">
                                    {% if custom_theme.twitter_link %}
                                        <a href="{{ custom_theme.twitter_link }}" target="_blank"><img src="{% static 'img/twitter.png' %}" class="footer-icon"/></a>
                                    {% endif %}
                                    {% if custom_theme.facebook_link %}
                                        <a href="{{ custom_theme.facebook_link }}" target="_blank"><img src="{% static 'img/facebook.png' %}" class="footer-icon"/></a>
                                    {% endif %}
                                    {% if custom_theme.instagram_link %}
                                        <a href="{{ custom_theme.instagram_link }}" target="_blank"><img src="{% static 'img/instagram.png' %}" class="footer-icon"/></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-8 col-lg-8 res1-bot-pad res2-bot-pad count-res">
                                <h5 style="font-weight: bold; margin-bottom: 25px;">GET IN TOUCH</h5>
                                <div class="marg-top15 res-marg-top10 res2-top-marg10">
                                    <div class="dis-tab-cell icon-width">
                                        <i class="fa fa-envelope footer-font-size"
                                           aria-hidden="true"></i>
                                    </div>
                                    <div class="dis-tab-cell-top">
                                        <p class="lt-space word-br marg-bot5">
                                            <a href="mailto:{{ custom_theme.email_1 }}">{{ custom_theme.email_1 }}</a>
                                        </p>
                                        <p class="lt-space marg-bot5 word-br">
                                            <a href="mailto:{{ custom_theme.email_2 }}">{{ custom_theme.email_2 }}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="marg-top10">
                                    <div class="dis-tab-cell icon-width">
                                        <i class="fa fa-phone footer-font-size"
                                           aria-hidden="true"></i>
                                    </div>
                                    <div class="dis-tab-cell-top">
                                        <p class="lt-space marg-bot5">{{ custom_theme.phone_1 }}</p>
                                        <p class="lt-space marg-bot5">{{ custom_theme.phone_2 }}</p>
                                    </div>
                                </div>
                                <div class="marg-top10">
                                    <div class="dis-tab-cell icon-width">
                                        <i class="fa fa-map-marker footer-font-size"
                                           aria-hidden="true"></i>
                                    </div>
                                    <div class="dis-tab-cell-top">
                                        {{ custom_theme.address_1 | linebreaks }}
                                        <p class="lt-space word-br"></p>{{ custom_theme.address_2 | linebreaks }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </footer>
            {% endif %}
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

{% block foot %}
    <!-- Plugin JavaScript -->
    <script src="{% static "js/landing-page.js" %}"></script>
    <script>
        $(document).ready(function () {
            showSiteNotice();
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        function getNumberWithCommas(number) {
            try {
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            } catch (e) {
                return ''
            }
        }


        $.get('/api/module-summary').then(
            function (data){
                $('#totalOccurenceNumber').text(getNumberWithCommas(data["general_summary"].total_occurrences));
                $('#totalTaxaNumber').text(getNumberWithCommas(data["general_summary"].total_taxa));
                $('#totalUsersNumber').text(getNumberWithCommas(data["general_summary"].total_users));
                $('#totalUploadsNumber').text(getNumberWithCommas(data["general_summary"].total_uploads));
                $('#totalDownloads').text(getNumberWithCommas(data["general_summary"].total_downloads));
            }
        )
    </script>
{% endblock %}
