{% load static from staticfiles %}
{% load site %}


<!-- new rbis nabar -->
<nav class="rbis-navbar">
    {% current_domain as domain_name %}
    <a class="navbar-brand bims-title-big" href="{{ domain_name }}/" style="padding-top: 0 !important; padding-bottom: 0 !important;">
        {% if custom_theme.logo %}
            <img src="{{ custom_theme.logo.url }}" height="40" width="50"/>
        {% else %}
            {% if custom_theme.site_name %}{{ custom_theme.site_name }}{% else %}{{ APPLICATION_NAME }}{% endif %}
        {% endif %}
    </a>
    <div class="nav-links">
        <ul>
            <li>
                <a class="nav-link" href="{{ domain_name }}">Home</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="https://coebiodiversity.ur.ac.rw/" target="_blank">About CoEB</a>
            </li>
            <li>
                <a class="nav-link" href="{{ domain_name }}/map">Map</a>
            </li>
            <li>
                <a class="nav-link" href="{{ domain_name }}#citation">Citation</a>
            </li>
        </ul>
   

    {% if request.get_host in domain_name %}
    <div class="nav-user">
        {% if user.is_authenticated %}      
        <p id="toggle-authenticated-navbar">{{ user }} <i class="fa fa-caret-down" aria-hidden="true"></i></p>
        {% else %}
        <ul>
            <li>
                <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
            <li>
                <a class="nav-link" href="/accounts/signup/">Sign Up</a>
            </li>
        </ul>
        {% endif %}
    </div>
    {% endif %}
    </div>

    <span id="toggle-navbar" class="nav-links-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>

    <div class="small-screen-navbar">
        <span id="toggle-close-navbar" class="nav-links-close-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
         <ul>
            <li>
                <a class="nav-link" href="{{ domain_name }}">Home</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="https://coebiodiversity.ur.ac.rw/" target="_blank">About CoEB</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="{{ domain_name }}/map">Map</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="{{ domain_name }}#citation">Citation</a>
            </li>
            {% if request.get_host in domain_name %}
                {% if user.is_authenticated %}
                    <li>
                        <a class="small-screen-nav-link" href="/profile/">Profile</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="small-screen-nav-link" href="/accounts/login/">Login</a>
                    </li>
                    <li>
                        <a class="small-screen-nav-link" href="/accounts/signup/">Sign Up</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>


    <div class="authenticated-navbar">
        <span id="toggle-authenticated-close-navbar" class="nav-links-close-icon"><i class="fa fa-times" aria-hidden="true"></i></span>
         <ul>
            <li>
                <a class="small-screen-nav-link" href="/profile/">profile</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/site-visit/list/?&collectors=%5B{{ user.id }}%5D">Site Visits</a>
            </li>
            {% if user.is_staff or user.is_superuser %}
            <li class="nav-indicator">Upload</li>
             <li>
                <a class="small-screen-nav-link" href="/upload-taxa/">Taxonomic Data</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/upload-collections/">Occurrence Data</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/upload-physico-chemical/">Physico-chemical Data</a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a class="small-screen-nav-link" href="/harvest-collections/">Harvest From GBIF</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/location-site-form/add/">Add Site</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/dashboard-management/">Edit Dashboard</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/taxa-management/">Taxon Management</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/download-request/">Download Requests</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/site-visit/list/?&inReview=True">Validate Records</a>
            </li>
            <li class="nav-divider"></li>
            <li>
                <a class="small-screen-nav-link" href="/admin/">Admin Page</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/cms">Wagtail Admin</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/backups-management">Backups</a>
            </li>
            <li>
                <a class="small-screen-nav-link" href="/summary-report">Summary Report</a>
            </li>
            {% endif %}
            <li class="nav-divider"></li>
            <li>
                <a class="small-screen-nav-link" href="/accounts/logout/">Log Out</a>
            </li>
        </ul>
    </div>
</nav>


<script>
$(document).ready(function(){
    $("#toggle-navbar").click(function(){
        $(".small-screen-navbar").css("display", "flex");
        $(".small-screen-navbar").css("right", "0");
        $(document.body).css("overflow-y", "hidden");
    });

    $("#toggle-close-navbar").click(function(){
        $(".small-screen-navbar").css("right", "-250px");
        setTimeout(function(){
            $(".small-screen-navbar").css("display", "none");
        }, 300);
        $(document.body).css("overflow-y", "auto");
    });

    
    $("#toggle-authenticated-navbar").click(function(){
        $(".authenticated-navbar").css("display", "flex");
        $(".authenticated-navbar").css("right", "0");
        $(document.body).css("overflow-y", "hidden");
    });

   
    $("#toggle-authenticated-close-navbar").click(function(){
        $(".authenticated-navbar").css("right", "-250px");
        setTimeout(function(){
            $(".authenticated-navbar").css("display", "none");
        }, 300); // Wait for transition to complete
        $(document.body).css("overflow-y", "auto");
    });
});
</script>